.nav-link li{
  display: inline-block;
 padding: 10px;
  }
  .nav-link {
    background-color: skyblue;
    margin: 0px;
    padding: 5px;
  }
  .nav-link li a{
    text-decoration: none;
    color: white;
    padding:5px;
}
.footer{
  position:absolute;
  background-color: skyblue;
  text-align: left;
  width: 100%;
  bottom: 0px;
}
.register{
  margin-left: 30%;
}
.login{
  margin-left:30%;
  margin-top: 100px;
}
.inputBox{
  display: block;
  margin: 25px;
  padding: 7px;
  border: 1px solid skyblue;
  width: 300px;
}
.boxButton{
  margin:25px;
  border: 1px solid ;
  padding: 10px;
  width: 300px;
  background-color: skyblue;
}
.nav-right{
 text-align: right;
}
.logo{
  width:45px;
  height: 45px;
  float: left;
  border-radius: 30%;
  margin-top:3px;
  margin-left: 15px;
}
.invalid-input{
  color:red;
  margin-top:-20px;
  margin-left: 23px;
  display: block;
}
.product-list{
  text-align: center;
  margin-top: 50px;
}

.product-list ul li{
  display: inline-block;
  border: 1px solid skyblue;
  padding: 5px;
  width: 150px;
}
.product-list ul{
  margin: 0;
}

.search-product-box{
  width: 400px;
  height: 30px;
  padding-left: 20px;
  margin: 10px;
  border: 1px solid skyblue;

}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
